@import './base.css';
body{
  padding: 0 !important;
}
#app {
  width: 80%;
  margin: 0 auto;
  padding: 0 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}



.sidebar-left {
  position: fixed;
  top: 0;
  left: 10%;
  bottom: 0;
  width: 300px;
  color: #fff;
  padding: 0 15px;
  height: 100vh;
  color: black;
  
}

.main-content {
  margin-left: 250px; /* Adjust based on sidebar width */
  padding: 0 15px;
}

.sidebar-right {
  flex-grow: 1;
  overflow-y: auto;
  max-height: calc(100vh - 60px); /* Adjust based on navbar height */
  padding: 15px;
}

.tweet {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 8px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.tweet-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.sticky-head{
  position: sticky;
  top: 0;
  z-index: 999999;
  background: white;
  
}
.borderx{
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.search-box-section{
  height: 60px;
  padding-top: 10px;
  position: relative;
}

.button.is-outlined.is-dark{
  border-color: #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
}
.button.is-outlined.is-dark:hover,.button.is-outlined.is-dark:active{
  background: #000;
  color: #fff;
}

.button-dark{
  background: #000;
  color: #fff;
  padding: 3px 10px;
    border-radius: 5px;
}
.button-dark:hover,.button-dark:active{
  border-color: #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #000;
}
a{text-decoration: none !important;}
#follow-suggest{padding-top: 0 !important;padding-bottom: 0 !important;margin-top: 0 !important;}
#follow-suggest a:hover,
.search-list a:hover{background: #c7c7c733 !important;}